html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

.hero-image {
  background-image: url("../assets/negative-space-black-forest-dawn.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-image .hero-text {
  color: #FFF;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80vh;
}
.hero-image .hero-text h2 {
  font-weight: lighter;
  padding: 40px;
}

.arrowBox {
  text-align: center;
  padding: 20px;
}
.arrowBox .arrowOne {
  color: #fff;
  font-size: 25px;
}
.arrowBox .arrowTwo {
  color: #000;
  font-size: 25px;
}

.navbox {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.navbox .hamburger {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  padding: 15px;
}
.navbox .hamburger .bar1, .navbox .hamburger .bar2, .navbox .hamburger .bar3 {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 2px 0;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbox ul {
  background: rgba(255, 255, 255, 0.2);
  padding: 0;
  list-style-type: none;
  text-align: center;
  opacity: 1;
  font-size: 20px;
  visibility: hidden;
  display: none;
  transition: all 1s linear;
}
.navbox ul a {
  display: block;
  padding: 1px;
  text-decoration: none;
  color: #fff;
}
.navbox #toggle {
  display: none;
}
.navbox #toggle:checked + .hamburger .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 13px;
}
.navbox #toggle:checked + .hamburger .bar2 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -7px;
}
.navbox #toggle:checked + .hamburger .bar3 {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.navbox #toggle:checked ~ ul {
  visibility: visible;
  display: block;
  position: absolute;
  opacity: 1;
  width: 100%;
}

#about {
  width: 100%;
}
#about h1 {
  text-align: center;
  font-weight: lighter;
  padding: 20px;
}
#about .profile {
  height: 25%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#about .profile p {
  text-align: center;
  padding: 10px;
}
#about .profile .profile-box {
  height: 50%;
  width: 55%;
  margin: 0 auto;
  padding: 15px;
}
#about .profile .profile-box img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 15px grey;
}
#about .profile .profile-text {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 10px;
  width: 60%;
}
#about .profile .profile-text .quoteSign {
  font-size: 30px;
}

#contact {
  height: 70vh;
  width: 100%;
  background-color: black;
}
#contact .info-links {
  height: 100%;
  color: #fff;
  font-size: 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
#contact .info-links .location, #contact .info-links .reachMe, #contact .info-links .socials {
  padding-top: 10px;
  padding-bottom: 10px;
}
#contact .info-links .socials p {
  padding-bottom: 10px;
}
#contact .info-links .socials p i {
  padding-right: 20px;
  width: 10%;
}
#contact .info-links p {
  padding: 5px;
}

@media screen and (min-width: 768px) {
  ul {
    width: 100%;
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  a:hover {
    text-decoration: underline;
  }

  .hamburger {
    visibility: hidden;
    display: none;
  }

  .flexProfiles {
    display: flex;
    flex-flow: row wrap;
  }
  .flexProfiles .profile {
    width: 50%;
  }

  #contact {
    display: flex;
    flex-flow: column wrap;
  }
  #contact .info-links {
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
}